:root {
    --color-fondo: rgb(27, 27, 27);
    --color-texto: rgb(235, 235, 235);
    --color-boton: rgb(14, 14, 14);
    --color-disponible: #01bd1a;
    --color-reservado: #c04600;
    --color-fondo-panel: rgb(8, 8, 8);
    --padding-general: 1rem;
    --border-radius-general: 1rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-general) 3rem; /* Uso de rem para mayor consistencia */
}

header div {
    display: flex;
    gap: 1rem; /* Gap con unidades relativas */
}

header div #tituloSubpagina {
    font-weight: 300;
}

header button {
    background-color: var(--color-boton);
    color: var(--color-texto);
    padding: var(--padding-general);
    border: none;
    border-radius: var(--border-radius-general);
    cursor: pointer;
}

main {
    margin: 3rem;
    padding: var(--padding-general);
}

.dia-semana {
    margin: 1rem;
    padding: 2rem;
    background-color: var(--color-boton);
    border-radius: var(--border-radius-general);
}

.dia-semana h3 {
    margin-top: 0;
    color: var(--color-texto);
}

.dia-semana ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.reserva-item {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem 0;
    min-height: 7rem;
    color: var(--color-texto);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.reserva-item.disponible {
    background-color: var(--color-disponible);
}

.reserva-item.reservado {
    background-color: var(--color-reservado);
    cursor: default;
}

select {
    background-color: var(--color-fondo-panel);
    color: var(--color-texto);
    padding: var(--padding-general);
    margin: 1rem;
    border: none;
    border-radius: var(--border-radius-general);
}

main label {
    font-weight: 400;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: var(--padding-general);
    }

    main {
        margin: 1rem;
        padding: var(--padding-general);
    }

    .dia-semana {
        padding: 1.5rem;
    }

    .reserva-item {
        min-height: 5rem;
    }
}